<%= form_with model: user do |form| %>
  <!-- <label class="block">
    <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
      Email
    </span>
    <input type="email" name="email"
      class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
      placeholder="you@example.com" />
  </label> -->

  <div class="f-control">
    <%= form.label :first_name , :class=> 'label' %>
      <%= form.text_field :first_name , :class => 'text-input' , :placeholder => 'Enter you first name' %>
        <% user.errors.full_messages_for(:first_name).each do |message| %>
          <span class="error-message">
            <%= message %>
          </span>
          <% end %>
  </div>

  <div class="f-control">
    <%= form.label :last_name , :class=> 'label' %>
      <%= form.text_field :last_name , :class => 'text-input' , :placeholder => 'Enter you last name' %>
        <% user.errors.full_messages_for(:last_name).each do |message| %>
          <span class="error-message">
            <%= message %>
          </span>
          <% end %>
  </div>

  <div class="f-control">
    <%= form.label :birth_date , :class=> 'label' %>
      <%= form.date_field :birth_date , value: Date.today.next_year(-10).strftime('%Y-%m-%d') %>
        <% user.errors.full_messages_for(:birth_date).each do |message| %>
          <span class="error-message">
            <%= message %>
          </span>
          <% end %>
  </div>

  <div class="buttons-wrapper">
    <%= form.submit 'Submit' , :class=> 'button button-success' %>
    <%= link_to "Back to users" , users_path , class: "button button-primary" %>
  </div>
<% end %>

<!-- , value: Date.today.next_year(-10).strftime('%Y-%m-%d') -->

    <!-- <%# create_table "users", force: :cascade do |t|
    t.string "first_name"
    t.string "last_name"
    t.date "birth_date"
    t.string "email"
    t.boolean "is_active"
    t.datetime "last_login"
    t.string "password"
    t.string "role"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
  end %> -->