<%= form_with model: user do |form| %>
  <div class="f-control">
    <%= form.label :first_name , :class=> 'label' %>
      <%= form.text_field :first_name , :class => 'text-input' , :placeholder => 'Enter first name' %>
        <% user.errors.full_messages_for(:first_name).each do |message| %>
          <span class="error-message">
            <%= message %>
          </span>
          <% end %>
  </div>

  <div class="f-control">
    <%= form.label :last_name , :class=> 'label' %>
      <%= form.text_field :last_name , :class => 'text-input' , :placeholder => 'Enter last name' %>
        <% user.errors.full_messages_for(:last_name).each do |message| %>
          <span class="error-message">
            <%= message %>
          </span>
          <% end %>
  </div>

  <div class="f-control">
    <%= form.label :birth_date , :class=> 'label' %>
    <%= form.date_field :birth_date , value: @user.birth_date || Date.today.next_year(-10).strftime('%Y-%m-%d') %>
        <% user.errors.full_messages_for(:birth_date).each do |message| %>
          <span class="error-message">
            <%= message %>
          </span>
          <% end %>
  </div>

  <div class="f-control">
    <%= label_tag(:role, "Role", class: 'label') %>
    <%= form.select :role, [["Super Admin", "super_admin"], ["Admin", "admin"], ["User", "user"], ["Guest", "guest"]], { selected: @user.role }, { :class => 'f-select' } %>
  </div>

  <div class="f-control">
    <%= label_tag(:is_active, "Active", class: 'label') %>
    <%= form.check_box(:is_active, { :class => 'f-checkbox' }, 1, 0) %>
  </div>
  
  <div class="buttons-wrapper">
    <%= form.submit 'Submit' , :class=> 'button button-success' %>
    <%= link_to "Back to users" , users_path , class: "button button-primary" %>
  </div>
<% end %>
